.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .donut {
    position: absolute;
    top: 0;
    left: 0;
  }
  .frosting {
    position: absolute;
    top: 0;
    left: 0;
  }
  .sprinkles {
    position: absolute;
    top: 0;
    left: 0;
  }